# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out

# OS
.DS_Store
*.pem
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.md
LICENSE
CLAUDE.md
.github
.git
.gitignore
